header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b264e2; /* Фиолетовый цвет */
  padding: 10px 20px 10px 20px;
  margin-bottom: 2%;
}

.logo {
  height: 90px; /* Высота логотипа */
}

nav {
  display: flex;
  gap: 20px;
}
nav a {
  color: white; /* Цвет текста */
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
nav a:hover {
  color: #f4c5b0;
}
.cerb img {
  margin-left: 5px; /* Отступ между текстом и изображением */
  transition: fill 0.3s; /* Плавный переход для цвета SVG */
  fill: #000000;
}
.cerb:hover img {
  filter: brightness(0) invert(0.8); /* Отключение инверсии, чтобы цвета подходили */
}
.cerb {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
}

.footer {
  margin-top: 10%;
  background-color: #62208a; /* Фиолетовый фон */
  color: white; /* Цвет текста */
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  height: 180px;
}

.footer-section {
  margin: 0 10px;
  margin-bottom: 10px;
}

.footer-section p {
  font-weight: bold;
  font-size: 28px;
  text-decoration: underline;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
  opacity: 70%;
}

.footer-section a {
  color: white; /* Цвет ссылок */
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline; /* Подчеркивание ссылок при наведении */
}

.social-icons a {
  margin-right: 10px; /* Отступы между иконками */
}

.social-icons img {
  width: 50px; /* Размер иконок соцсетей */
  height: 50px;
}

.burger-menu {
  background-color: #b264e2; /* Цвет верхней панели */
  padding: 10px;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 20px;
  justify-content: space-around;
  margin: 0 auto;
}

.bar {
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.nav-menu {
  display: none; /* Скрыто по умолчанию */
  background-color: white;
  position: absolute;
  top: 60px; /* Расположено под менюшкой */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #000000;
}

.nav-menu.active {
  display: block;
}

.men {
  display: none;
}

/* основные стили */

.body {
  font-family: "Crimson Text", serif;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  gap: 0.5%;
}

.scrollbar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #dedede;
  min-width: 15%;
}

.razdel {
  border: none;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 8%;
  border-bottom: 2px solid #dedede;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.razdel:hover {
  color: #a748e2;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2%;
  margin: 0 1%;
}

/*Модалки*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  display: flex;
  align-items: center;
}

.modal-image {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.modal-details {
  flex: 1;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.modal-composition {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.modal-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-order-button,
.btn {
  background-color: #ee8b2e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
}

.modal-order-button:hover,
.btn:hover {
  background-color: #c86100;
}

/*карточки товаров*/

.card img {
  width: 100%;
  cursor: pointer;
}

.card h3,
.descr,
.price {
  margin: 1.5% 0;
  padding: 0;
  font-family: "Crimson Text", serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.price {
  font-weight: bolder;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (width<1000px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width<880px) {
  .scrollbar {
    font-size: smaller;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 95%;
    margin: 5% auto;
  }

  .modal-body {
    flex-direction: column;
    align-items: stretch;
  }

  .modal-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .modal-details {
    text-align: center;
  }
}

@media (width<=755px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
  main {
    display: block;
  }
  .scrollbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
    border: none;
  }
  .razdel {
    padding: 2% 0;
    text-align: center;
    border-bottom: 2px solid #dedede;
  }
  .men {
    display: block;
  }

  header {
    display: none;
  }
}

@media (width<960px) {
  .footer {
    gap: 10%;
    font-size: 22px;
  }
  .footer-section p {
    font-size: 24px;
  }
  .social-icons img {
    width: 25px; /* Размер иконок соцсетей */
    height: 25px;
  }
}

@media (width<500px) {
  .footer {
    flex-direction: column; /* Меняет направление на вертикальное */
    gap: 0%;
    height: 470px;
  }

  .footer-section {
    width: 100%; /* Каждая секция будет занимать всю ширину */
    margin-left: 10%; /* Уменьшает отступы между секциями */
    margin-right: 10%;
  }
}
