body {
  margin: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b264e2;
  padding: 10px 20px;
  margin-bottom: 2%;
}

.logo {
  height: 90px; /* Высота логотипа */
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

nav a:hover {
  color: #e8d5ad;
}

.cerb img {
  margin-left: 5px;
  transition: fill 0.3s;
  fill: white;
}

.cerb:hover img {
  filter: invert(5%) sepia(8%) saturate(1458%) hue-rotate(323deg)
    brightness(91%) contrast(101%);
}

.cerb {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer {
  margin-top: 2%;
  background-color: #62208a;
  color: white;
  display: flex;
  text-align: start;
  justify-content: space-around;
  padding: 0 1%;
  font-size: 24px;
}

.footer-section {
  margin: 0;
  margin-bottom: 10px;
}

.footer-section p {
  font-weight: bold;
  font-size: 28px;
  text-decoration: underline;
  margin: 3% 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 3% 0;
}

.footer-section li {
  margin: 3px 0;
  opacity: 70%;
}

.footer-section a {
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-icons a {
  margin-right: 2%;
}

.social-icons img {
  width: 50px;
  height: 50px;
}

.burger-menu {
  background-color: #b264e2;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.menu-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 20px;
  justify-content: space-around;
  margin: 0 auto;
  padding-left: 80%;
}

.bar {
  height: 3px;
  background-color: white;
  transition: 0.3s;
}

.nav-menu {
  display: none; /* Скрыто по умолчанию */
  background-color: white;
  position: absolute;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 40px;
  top: 40px; /* Расположено под менюшкой */
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.negr {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
}

.line {
  margin-bottom: 7px;
  width: 80%;
}

.strela {
  position: absolute;
  left: 75%;
}

.strela.o {
  top: 50px;
}

.strela.t {
  top: 105px;
}

.strela.th {
  top: 162px;
}

.strela.f {
  top: 218px;
}

.negr:hover {
  color: #ee8b2e;
}

.negr img {
  filter: invert(100%);
}

.negr:hover img {
  filter: invert(30%) sepia(9%) saturate(6147%) hue-rotate(339deg)
    brightness(97%) contrast(92%);
}

.nav-menu.active {
  display: block;
}

.men {
  display: none;
}

/* основные стили */

.body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

article {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

main {
  display: flex;
  gap: 0.5%;
  margin: 0 1.2%;
}

.scrollbar {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #dedede;
  min-width: 15%;
}

.razdel {
  border: none;
  background-color: white;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 8%;
  border-bottom: 2px solid #dedede;
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}

.razdel:hover {
  color: #a748e2;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

/*Модалки*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 15px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  display: flex;
  align-items: center;
}

.modal-image {
  max-width: 40%;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.modal-details {
  flex: 1;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-description {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.modal-composition {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.modal-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-order-button,
.btn {
  background-color: #ee8b2e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Source Serif 4", serif;
}

.modal-order-button:hover,
.btn:hover {
  background-color: #c86100;
}

/*карточки товаров*/

.card img {
  width: 100%;
  cursor: pointer;
}

.card h3,
.descr,
.price {
  margin: 1.5% 0;
  padding: 0;
  font-family: "Crimson Text", serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.price {
  font-weight: bolder;
}

/*.product-wrapper {
  position: relative;
}*/

.love {
  border: none;
  position: absolute;
  right: 0%;
  top: 1%;
  background-color: #00000000;
  opacity: 0;
  transition: 0.5s;
}

.product-wrapper:hover .love {
  opacity: 0;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (width<1000px) {
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width<880px) {
  .scrollbar {
    font-size: smaller;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 95%;
    margin: 5% auto;
  }

  .modal-body {
    flex-direction: column;
    align-items: stretch;
  }

  .modal-image {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .modal-details {
    text-align: center;
  }
}

@media (width<=755px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }

  main {
    display: block;
  }

  .scrollbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2%;
    border: none;
  }

  .razdel {
    padding: 2% 0;
    text-align: center;
    border-bottom: 2px solid #dedede;
  }

  .men {
    display: block;
  }

  header {
    display: none;
  }

  .cerb {
    color: #000000;
  }
}

@media (width<960px) {
  .footer {
    font-size: 22px;
  }

  .footer-section p {
    font-size: 24px;
  }

  .social-icons img {
    width: 35px; /* Размер иконок соцсетей */
    height: 35px;
  }
}

@media (width<580px) {
  .footer {
    flex-direction: column;
  }

  .footer p,
  ul {
    margin: 1.5% 0;
    font-size: smaller;
  }

  .footer-section {
    width: 90%;
    margin: auto;
  }
}

@media (width<430px) {
  .modal-order-button,
  .btn {
    padding: 6px 10px;
    border-radius: 8px;
  }
}
