.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3%;
}

.card img {
  width: 100%;
}

main {
  display: flex;
  gap: 3%;
}

.scrollbar {
  display: flex;
  flex-direction: column;
  gap: 2%;
}
