body {
  margin: 0;
  height: 100%;
  font-family: "Source Serif 4", serif;
}

main {
  width: 80%;
  margin: 0 auto;
  display: block;
}

h1 {
  border-bottom: 2px #dedede solid;
  padding-bottom: 1%;
  width: 30%;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}
